.signup__page {
    background: #0C2140;
    min-height: 100vh; 
  }
  
.landing__header{
    background: #0C2140;
}

.signup__page{
    background: #0C2140;
    height: 100%;
}
.auth__form{
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
  z-index: 2;
}
.auth__btn{
    background: #AB8E3D !important;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 27px;
}
.auth__form p{
    margin-top: 30px;
}
.auth__form p a{
    color: rgba(255, 255, 255, 0.735);
}
.auth__form input[type='file']{
    color: #fff;
    cursor: pointer;
}
.signup__page h3{
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    font-style: bold;
    z-index: 2;
}
.buy__btn{
    border-radius: 80px;
}
.bot-image {
    position: absolute;
    top: 68%; 
    left: 72%; 
    transform: translate(-50%, -50%); 
    width: 50%;
    height: auto; 
    opacity: 100%;
    z-index: 1;
  }
  /* .cloud-image {
    position: absolute;
    top: 45%; 
    left: 64%; 
    transform: translate(-50%, -50%); 
    width: 50%;
    height: auto; 
    opacity: 100%;
    z-index: 0;
  } */
.signup__page button{
    padding: 10px 20px;
    background-color: #AB8E3D;
    color: #fff;
    border: none;
    border-radius: 27px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 50px;
    position: relative; 
    z-index: 2; 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
  }


  .landing__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #0C2140;
    height: 100%;
  }
  
  .qoa-button {
    background-color: #0C2140;
    color: #fff; 
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 20px; 
    cursor: pointer;
  }
  .qoa-button {
    margin-right: 20px;
  }
  .admin__btn{

    background-color: #0C2140;
  }

  .admin__btn button{
    margin-left: 15px;
    background: none;
    color: white;
    border: solid white 3px;
  }
  .label{
    color: white;
    text-align: left;
  }

  .animate
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #0C2140 0%,
    #8b1a4b 29%,
    #AB8E3D 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




.circle {
    position: absolute;
    bottom: 0;
    width: 20px;
    aspect-ratio: 1/1;
    background: rgba(0, 255, 0, 0.5); 
    box-shadow: 0 0 10px rgba(0, 255, 0, 5.5), 0 0 20px rgba(0, 255, 0, 5.5), 0 0 30px rgba(0, 255, 0, 5.5), 0 0 50px rgba(0, 255, 0, 5.5);
    border-radius: 50%;
    animation: animate linear 5s forwards;
    z-index: 1;
  }

@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.circle::before{
    content: '';
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 100%;
    opacity: 0.5;
    background: linear-gradient(#0f0,transparent);
}




/* backgroundAnimation.css */

  
  .circle {
    position: absolute;
    bottom: 0;
    width: 20px;
    aspect-ratio: 1/1;
    background: rgb(89, 138, 245);
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 50px #0f0;
    border-radius: 50%;
    animation: animate linear 5s forwards;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
  
  .circle::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    height: 100vh;
    opacity: 0.5;
    background: linear-gradient(rgb(89, 138, 245), transparent 0%);
  }
  
  /* Add this to your existing CSS */
.login-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .toggle-link{
    z-index: 999;
    color: rgb(255, 255, 255);
  }