/* Local font */
@font-face {
  font-family: "Spartan";
  src: url("./assets/fonts/Spartan/static/Spartan-Regular.ttf") format("truetype");
  font-weight: 100 800;
  font-style: normal;
}


/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0b1f40;;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
img{
  width: 100%;
}
section{
  padding: 60px 0px;
}
.section__title{
  font-family: "Spartan", sans-serif;
  color: var(--primary-color);
  font-weight: 600;
}
@media only screen and (max-width: 768px){
  section{
    padding: 40px 0;
  }
}

html,
body,
#root { /* Replace #root with the actual container ID or class name */
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Track */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners on the scrollbar handle */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #ccc; /* Color of the scrollbar track when hovered */
}
